name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write # required for pushing + uploading release assets

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Git identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.24.0

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Commit build artifacts
        run: |
          git add dist -f
          git commit -m "chore: add build artifacts for release ${{ github.ref_name }}" || echo "No changes to commit"
          git push origin HEAD:${{ github.ref_name }}

      - name: Upload release artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
